
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial;
    background-color: white;
    color: black;
    padding: 20px;
    transition: background-color 0.3s, color 0.3s;
}
.header {
    text-align: center;
    margin-bottom: 20px;
    background-color: rgb(231, 245, 200);
}

button {
    background-color: #70d45c;
    color:c white
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 15px;
    border-radius: 5px;
}

button:hover {
    background-color: #6ec708;
}

input{
    width: 200px;
    padding: 10px;
    margin: 10px 10px;
    border: 2px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
    border-color: #f8daad;
}

select {
    padding: 10px;
    margin: 10px 0;
    border: 2px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}
#root {
    max-width: 300px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f4eedc;
    border-radius: 10px;
}

p {
    text-align: center;
    font-size: 14px;
    color: #666;
    margin-top: 20px;
}
